@model IEnumerable<ControleDeLeiloes.Models.Leilao>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxaAvaliacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxaVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leiloeiro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxaAvaliacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxaVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Leiloeiro.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
