@model ControleDeLeiloes.Models.Lote

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Lote</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VlAvalicao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VlAvalicao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VlCondicional)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VlCondicional)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VlPago)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VlPago)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VlLance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VlLance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Leilao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Leilao.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
