@model ControleDeLeiloes.Models.Anuncio

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar para lista</a>
</div>
<div>
    <h4>Anuncio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <a asp-controller="Produtos" asp-action="Create" asp-route-id="@Model.Id">Incluir em produtos</a>
        </dt>
        <dd>

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NotView)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NotView)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdAnuncio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdAnuncio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd>
            <a href="@Html.DisplayFor(model => model.Link)" target="_blank">@Html.DisplayFor(model => model.Link)</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DtPublicacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DtPublicacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VlAnunciado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VlAnunciado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vendedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vendedor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OlxIdVendedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OlxIdVendedor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DtVendedorDesde)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DtVendedorDesde)
        </dd>
        @{int x = 0; }
        @foreach (Foto foto in Model.Fotos)
        {
            <dt>
                <img src="@Url.Content(foto.Link)" alt="Image" style="height:200px;width:200px;" />
            </dt>
            if (++x == 3) break;
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Voltar para lista</a>
</div>
