@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<ControleDeLeiloes.Models.Anuncio>


<div class="row col-12">
    <div class="form-group">
        <div class="pull-left">
            Listando anuncios de @Model.FirstItemOnPage a @Model.LastItemOnPage de um total de @Model.TotalItemCount
        </div>
    </div>
</div>

<div class="panel panel-default panel-controls">
    <!-- .page-content-wrapper -->
    <div class="page-content-wrapper">
        <div class="page-content-inner">
            <div class="row">
                <div class="col-lg-12">
                    <!-- col-lg-12 start here -->
                    <div class="panel panel-default toggle panelMove panelClose panelRefresh">
                        <!-- Start .panel -->
                        <div class="panel-heading">
                            <h4 class="panel-title">Filtros</h4>
                        </div>
                        <div class="panel-body pt0 pb0">
                            <form asp-action="Index" class="form-horizontal group-border stripped">
                                <div class="form-group">
                                    <label class="col-lg-2 col-md-3 control-label">Olx</label>
                                    <div class="col-lg-10 col-md-9">
                                        @Html.CheckBox("olxPay") OlxPay
                                        @Html.CheckBox("olxDelivery") OlxEntrega
                                    </div>
                                </div>
                                <!-- End .form-group  -->
                                <div class="form-group">
                                    <label class="col-lg-2 col-md-3 control-label" for="">Classe</label>
                                    <div class="col-lg-10 col-md-9">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6">
                                                <div class="input-group">
                                                    @Html.DropDownList("categoriaId")
                                                </div>
                                                <!-- /input-group -->
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <div class="input-group">
                                                    @if (ViewBag.subCategoriaEmpty)
                                                    {
                                                        @Html.DropDownList("subcategoriaId", null, "Selecione....", htmlAttributes: new { @id = "subcategoriaId" }) }
                                                    else
                                                    {
                                                        @Html.DropDownList("subcategoriaId")}
                                                </div>
                                                <!-- /input-group -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End .form-group  -->
                                <div class="form-group">
                                    <label class="col-lg-2 col-md-3 control-label" for="">Local</label>
                                    <div class="col-lg-10 col-md-9">
                                        <div class="input-group">
                                            @Html.DropDownList("uf", Model.Select(m => m.UF).Distinct().OrderBy(m => m).Select(m => new SelectListItem
                                            {
                                                Value = m,
                                                Text = m,
                                                Selected = "select" == m
                                            }), "UF")
                                            @Html.DropDownList("bairro", Model.Select(m => m.Bairro).Distinct().OrderBy(m => m).Select(m => new SelectListItem
                                            {
                                                Value = m,
                                                Text = m,
                                                Selected = "select" == m
                                            }), "Bairro")
                                        </div>
                                    </div>
                                </div>
                                <!-- End .form-group  -->
                                <div class="form-group">
                                    <label class="col-lg-2 col-md-3 control-label" for="">Valor</label>
                                    <div class="col-lg-10 col-md-9">
                                        <div class="input-group">
                                            min @Html.TextBox("vltMin") max @Html.TextBox("vlrMax")
                                        </div>
                                    </div>
                                </div>
                                <!-- End .form-group  -->
                                <div class="form-group">
                                    <label class="col-lg-2 col-md-3 control-label" for="">Texto</label>
                                    <div class="col-lg-10 col-md-9">
                                        <div class="input-group">
                                            @Html.TextBox("txtBusca")
                                        </div>
                                    </div>
                                </div>
                                <!-- End .form-group  -->
                                <div class="form-group">
                                    <label class="col-lg-2 col-md-3 control-label" for="">Filtrar</label>
                                    <div class="col-lg-10 col-md-9">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="input-group">
                                                    <input type="submit" value="Ok" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End .form-group  -->
                            </form>
                        </div>
                    </div>
                    <!-- End .panel -->
                    <div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
                        <!-- Start .panel -->
                        <div class="panel-heading">
                            <h4 class="panel-title">Anuncios</h4>
                            <div class="panel-body">
                                @if (ViewBag.verNotView)
                                {
                                    <a asp-controller="Anuncios" asp-action="Index" asp-route-verNotView=false>
                                        <span title="Não visualizar todos">Não visualizar todos</span>
                                    </a>
                                }
                                else
                                {
                                    <a asp-controller="Anuncios" asp-action="Index" asp-route-verNotView=true>
                                        <span title="Visualizar todos">Visualizar todos</span>
                                    </a>
                                }
                            </div>
                        </div>
                        <table id="ListaAnuncios" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Imagem</th>
                                    <th>Imagem</th>
                                    <th>Imagem</th>
                                    <th>Valor</th>
                                    <th>Titulo</th>
                                    <th>DataPubl</th>
                                    <th>Não Visualizar</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Imagem</th>
                                    <th>Imagem</th>
                                    <th>Imagem</th>
                                    <th>Valor</th>
                                    <th>Titulo</th>
                                    <th>DataPubl</th>
                                    <th>Não Visualizar</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id='@item.Id'>
                                        <td>
                                            <img src="@Url.Content(item.Img1)" alt="Image" style="height:200px;width:200px;" />
                                        </td>
                                        <td>
                                            <img src="@Url.Content(item.Img2)" alt="Image" style="height:200px;width:200px;" />
                                        </td>
                                        <td>
                                            <img src="@Url.Content(item.Img3)" alt="Image" style="height:200px;width:200px;" />
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VlAnunciado)
                                        </td>
                                        <td>
                                            @*<a href='@item.Link' target="_blank">*@
                                            <a asp-action="Details" asp-route-id='@item.Id'>
                                                @Html.DisplayFor(modelItem => item.Titulo)
                                            </a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DtPublicacao)
                                        </td>
                                        <td>
                                            @Html.CheckBoxFor(modelItem => item.NotView, new
                                       {
                                           onclick = "UpdateNotView(this)",
                                           data_anuncioid = item.Id
                                       })
                                        </td>
                                        @*<td class="text-right">
                                                <a asp-controller="Anuncios" asp-action="NotView" asp-route-id="@item.Id"><span class="che" title="Editar Paciente"></span> </a>
                                                <a asp-controller="Paciente" asp-action="Details" asp-route-id="@item.Id"><span class="fa fa-search fa-2x" title="Detalhes Paciente"></span> </a>
                                                <a asp-controller="Paciente" asp-action="Delete" asp-route-id="@item.Id"><span class="fa fa-trash fa-2x" title="Excluir Paciente"></span> </a>
                                            </td>*@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- End .panel -->
                </div>
            </div>
            <!-- End .row -->
        </div>
        <!-- End .page-content-inner -->
    </div>
    <!-- / page-content-wrapper -->
</div>
<div class="row col-12">
    <div class="form-group">
        <div class="pull-right">
            @Html.PagedListPager(Model, Page => Url.Action("Index", "Anuncios", new
            {
           pagina = Page,
           categoriaId = ViewBag.categoriaId.SelectedValue,
           subcategoriaId = ViewBag.subcategoriaId.SelectedValue,
           uf = ViewData["ufAtual"],
           bairro = ViewData["bairroAtual"],
           olxPay = ViewBag.olxpay,
           olxDelivery = ViewBag.olxDelivery
       }))
        </div>
    </div>
</div>

@section scripts
{

    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>var $j2 = jQuery.noConflict(true);</script>

    <script type="text/javascript">
       $j2(document).ready(function () {
           $("#categoriaId").change(function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("PostSubcategoria", "Anuncios")',
                    data: {categoriaId: $('#categoriaId').val()},
                    success: function (data) {
                        $("#subcategoriaId").empty();
                        $("#subcategoriaId").append('<option value>Selecione...</option>');
                        $.each(data, function (index, element) {
                            $("#subcategoriaId").append('<option value="' + element.id + '">' + element.nome + '</option>');
                        });
                    }
                });
            });
        });
       function UpdateNotView(elem) {
            var isDone = $(elem).is(':checked');
            var cid = $(elem).data('anuncioid');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateNotView", "Anuncios")',
                data: { NotView: isDone,Id:cid },
                success: function(res) {
                console.log(res);
                }
                });
                if (isDone) {
                var table = document.getElementById("ListaAnuncios");
                var rowIndex = document.getElementById(cid).rowIndex;
                table.deleteRow(rowIndex);
                }
                }
                function VerNotView(elem) {
                var isDone = $(elem).is(':checked');
                $.ajax({
                type: 'POST',
                url: '@Url.Action("Index", "Anuncios")',
                data: { VerNotView: isDone},
                success: function(res) {
                console.log(res);
                }
                });
                }
    </script>
}