@model ControleDeLeiloes.Models.Leilao
@{ ViewData["Title"] = "Detalhes";
}
<!-- Start .row -->
<div class="row">
    <div class="col-lg-12">
        <!-- col-lg-12 start here -->
        <div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading blue-light-bg">
                <h4 class="panel-title">Leilão: @Html.DisplayFor(model => model.Descricao)</h4>
            </div>
            <div class="panel-body">
                <partial name="_details_delete" />
                <div>
                    <p>
                        <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
                        <a asp-action="Delete" asp-route-id="@Model.Id">Deletar</a> |
                        <a asp-action="Index">Voltar para lista</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- End .panel -->
    </div>
    <!-- col-lg-12 end here -->
</div>
<!-- End .row -->
@*Lotes deste leilão*@

<!-- Start .row -->
<div class="row">
    <div class="col-lg-12">
        <!-- col-lg-12 start here -->
        <div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading blue-light-bg">
                <h4 class="panel-title">Lotes</h4>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Lote</th>
                            <th>Produto</th>
                            <th>Aval</th>
                            <th>Cond</th>
                            <th>Lance</th>
                            <th>Pago</th>
                            <th class="glyphicon glyphicon-ok"></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Lote</th>
                            <th>Produto</th>
                            <th>Aval</th>
                            <th>Cond</th>
                            <th>Lance</th>
                            <th>Pago</th>
                            <th class="glyphicon glyphicon-ok"></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @{var x = 1; }
                        @foreach (var lote in Model.Lote)
                        {
                            <tr>
                                <td>
                                    <a asp-controller="Lotes" asp-action="Details" asp-route-id='@lote.Id'>
                                        @Html.DisplayFor(modelItem => lote.Numero)
                                    </a>
                                </td>
                                <td>
                                    <a asp-controller="Produtos" asp-action="Details" asp-route-id="@lote.ProdutoId">
                                        @Html.DisplayFor(modelItem => lote.Produto.Titulo)
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => lote.VlAvalicao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => lote.VlCondicional)
                                </td>
                                <td id="lance-@x" contenteditable="true" 
                                    onfocusout="VerificaLances()" 
                                    onkeyup="AnalisaKey(event,@x)" 
                                    onkeypress="AlterarLance(event, @lote.Id, @x)">
                                    @Html.DisplayFor(modelItem => lote.VlLance)
                                </td>
                                <td id="vlPago-@x" contenteditable="true" onkeypress="AlterarVlPago(event, @lote.Id, @x)">
                                    @Html.DisplayFor(modelItem => lote.VlPago)
                                </td>
                                <td id="ok-@x" class="glyphicon glyphicon-ok-sign" style="color:forestgreen">
                                </td>
                            </tr>
                            x = x + 1;
                        }
                    </tbody>
                </table>
            </div>
            <div class="panel-heading">
                <p>
                    <a asp-controller="Lotes" asp-action="Create">Adicionar</a>
                </p>
            </div>
        </div>
        <!-- End .panel -->
    </div>
    <!-- col-lg-12 end here -->
</div>
<!-- End .row -->
@section scripts
{
    <script type="text/javascript">

        const numItens = @Model.Lote.Count();
        var lances = [];
        @foreach (var d in Model.Lote)
         {
            @:lances.push("@d.VlLance");
         }

        function AnalisaKey(event, item)
        {
            var elementId = "";
            switch (event.keyCode) {
                case 38: //seta para cima
                    if (item > 1)
                    {
                        elementId = "lance-" + (item - 1);
                        document.getElementById(elementId).focus();
                    }
                    break;
                case 40: //seta para baixo
                    if (item < @Model.Lote.Count()) {
                        elementId = "lance-" + (item + 1);
                        document.getElementById(elementId).focus();
                    }
                    break;
                case 90: //ctrl z
                    VerificaLances();
                    break;
            }
        }
        function VerificaLances() {
            //tecla control
                var i;
                var elementId = "lance-";
                var elementOk = "ok-";
                for (i = 0; i < numItens; i++) {
                    elementId = 'lance-' + (i + 1);
                    elementOk = 'ok-' + (i + 1);
                    var x = document.getElementById(elementId).innerText;
                    if (lances[i] != x) {
                        document.getElementById(elementOk).style.color = "red";
                    } else
                    {
                        document.getElementById(elementOk).style.color = "forestgreen";
                    }
                }
        }
        function AlterarLance(event, idLote, item) {

            var elementId = "ok-" + item;
            document.getElementById(elementId).style.color = "red";
            if (event.keyCode == 13) {
                elementId = 'lance-' + item;
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AlterarLance", "Lotes")',
                    data: { id: idLote, val: document.getElementById(elementId).innerText },
                    success: function () {
                        elementId = 'lance-' + item;
                        lances[item-1] = document.getElementById(elementId).innerText;
                        elementId = "ok-" + item;
                        document.getElementById(elementId).style.color = "forestgreen";
                        elementId = "lance-" + (item + 1);
                        document.getElementById(elementId).focus();
                    }
                });
                event.preventDefault();
            }
        }
    </script>
}