@model ControleDeLeiloes.Models.Leilao
@{ ViewData["Title"] = "Detalhes";
}
<!-- Start .row -->
<div class="row">
    <div class="col-lg-12">
        <!-- col-lg-12 start here -->
        <div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading blue-light-bg">
                <h4 class="panel-title">Leilão: @Html.DisplayFor(model => model.Descricao)</h4>
            </div>
            <div class="panel-body">
                <partial name="_details_delete" />
                <div>
                    <p>
                        <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
                        <a asp-action="Delete" asp-route-id="@Model.Id">Deletar</a> |
                        <a asp-action="Index">Voltar para lista</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- End .panel -->
    </div>
    <!-- col-lg-12 end here -->
</div>
<!-- End .row -->
@*Lotes deste leilão*@

<!-- Start .row -->
<div class="row">
    <div class="col-lg-12">
        <!-- col-lg-12 start here -->
        <div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading blue-light-bg">
                <h4 class="panel-title">Lotes</h4>
            </div>

            <div class="panel-body">
                <p>
                    <a asp-controller="Lotes" asp-action="Create">Adicionar</a>
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Lote</th>
                            <th>Aval</th>
                            <th>Cond</th>
                            <th>Lance</th>
                            <th class="glyphicon glyphicon-ok"></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Lote</th>
                            <th>Produto</th>
                            <th>Aval</th>
                            <th>Cond</th>
                            <th>Lance</th>
                            <th>Pago</th>
                            <th class="glyphicon glyphicon-ok"></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @{var x = 1; }
                        @foreach (var lote in Model.Lotes)
                        {
                            <tr>
                                <td>
                                    <a asp-controller="Lotes" asp-action="Details" asp-route-id='@lote.Id'>
                                        @Html.DisplayFor(modelItem => lote.Numero)
                                    </a>
                                </td>
                                @*@foreach (LoteProduto loteProduto in lote.LoteProdutos)
                                {
                                    <td>
                                        <a asp-controller="Produtos" asp-action="Details" asp-route-id="@loteProduto.Id">
                                            Html.EditorFor(loteProduto);
                                        </a>
                                    </td>
                                }*@
                                <td>
                                    @Html.DisplayFor(modelItem => lote.VlAvalicao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => lote.VlCondicional)
                                </td>
                                <td id="lance-@x" contenteditable="true"
                                    onfocusout="VerificaLances('lance-')"
                                    onkeyup="AnalisaKey(event, 'lance-',@x)"
                                    onkeypress="AlterarLance(event, 'lance-', @lote.Id, @x)">
                                    @Html.DisplayFor(modelItem => lote.VlLance)
                                </td>
                                <td id="ok-@x" class="glyphicon glyphicon-ok-sign" style="color:forestgreen">
                                </td>
                            </tr>
                            x = x + 1;
                        }
                    </tbody>
                </table>
            </div>
            <div class="panel-heading">
                <p>
                    <a asp-controller="Lotes" asp-action="Create">Adicionar</a>
                </p>
            </div>
        </div>
        <!-- End .panel -->
    </div>
    <!-- col-lg-12 end here -->
</div>
<!-- End .row -->
@section scripts
{
    <script type="text/javascript">

        const numItens = @Model.Lotes.Count();
        var lances = [];
        @foreach (var d in Model.Lotes)
         {
            @:lances.push("@d.VlLance");
         }

        function AnalisaKey(event, elementId, item)
        {
            switch (event.keyCode) {
                case 38: //seta para cima
                    if (item > 1)
                    {
                        //elementId += (item - 1);
                        document.getElementById(elementId + (item - 1)).focus();
                    }
                    break;
                case 40: //seta para baixo
                    if (item < @Model.Lotes.Count()) {
                        //elementId += (item + 1);
                        document.getElementById(elementId + (item + 1)).focus();
                    }
                    break;
                case 46: //delete
                case 8: //backspace
                case 90: //ctrl z
                    VerificaLances(elementId);
                    break;
            }
        }
        function VerificaLances(elementId) {
            //tecla control
                var i;
                var elementOk = "ok-";
                for (i = 0; i < numItens; i++) {
                    //elementId = 'lance-' + (i + 1);
                    elementOk = 'ok-' + (i + 1);
                    var x = document.getElementById(elementId + (i + 1)).innerText;
                    if (elementId == 'lance-') {
                        if (lances[i] != x) {
                            document.getElementById(elementOk).style.color = "red";
                        }
                        else
                        {
                            document.getElementById(elementOk).style.color = "forestgreen";
                        }
                    }

                }
        }
        function AlterarLance(event, elementId, idLote, item) {

            var okId = "ok-" + item;
            var lanceId = "lance-" + item;
            document.getElementById(okId).style.color = "red";
            if (event.keyCode == 13) {
                okId = 'lance-' + item;
                //if (document.getElementById(lanceId).innerText != "")
                //{
                //    var valLance = parseFloat(document.getElementById(lanceId).innerText).toFixed(2);
                //} else
                //{
                //    var valLance = null;
                //}
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AlterarLance", "Lotes")',
                    data: {
                        id: idLote,
                        lance: document.getElementById(lanceId).innerText,
                    },
                    success: function () {
                        lances[item - 1] = document.getElementById(lanceId).innerText;
                        document.getElementById(okId).style.color = "forestgreen";
                        document.getElementById(elementId + (item + 1)).focus();
                    }
                });
                event.preventDefault();
            }
        }
    </script>
}