@using ControleDeLeiloes.Controllers
@model IEnumerable<ControleDeLeiloes.Models.Leilao>

<div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
    <div class="panel-heading blue-light-bg">
        <h4 class="panel-title">Leilões</h4>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Descricao</th>
                    <th>Data</th>
                    <th>TaxaAvaliacao</th>
                    <th>TaxaVenda</th>
                    <th>Leiloeiro</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Descricao</th>
                    <th>Data</th>
                    <th>TaxaAvaliacao</th>
                    <th>TaxaVenda</th>
                    <th>Leiloeiro</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-route-id='@item.Id'>
                                @Html.DisplayFor(modelItem => item.Descricao)
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TaxaAvaliacao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TaxaVenda)
                        </td>
                        <td>
                            <a asp-controller="Leiloeiros" asp-action="Details" asp-route-id="@item.LeiloeiroId">
                                @Html.DisplayFor(modelItem => item.Leiloeiro.Nome)
                            </a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <div class="panel-heading">
        <a asp-action="Create">Adicionar</a>
    </div>
</div>
